.DS_STORE
.idea
*.code-workspace
*.sublime-project
*.sublime-workspace
*.log*
*.tgz
.husky
.github
yarn.lock
package-lock.json
node_modules
src

build
.docusaurus
docs
tests
benchmarks
coverage

.taterurc
jest.config.ts
run-all-tests.sh
SAFE.md
UNSAFE.md
tsconfig.json
.eslintrc.cjs
.lintstagedrc.json
commitlint.config.js
run-all-benchmarks.sh
CODE_OF_CONDUCT.md
