.DS_STORE
.idea
*.code-workspace
*.sublime-project
*.sublime-workspace
*.log*
*.tgz
.husky
.github
yarn.lock
package-lock.json
node_modules
src

build
.docusaurus
docs
tests
coverage

jest.config.ts
esbuild.config.js
esbuild.test.config.js
run-all-tests.sh
safe.md
unsafe.md
tsconfig.json
.eslintrc.cjs
.lintstagedrc.json

run-all-benchmarks.sh
