name: 'CI: Commit Lint'
on: [push, pull_request]
jobs:
  commit-lint:
    name: Commit Lint
    if: "!(contains(github.event.head_commit.message, '[skip_ci]'))"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        node: [15, 16]
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v2
      - name: 'Install Node.js ${{ matrix.node }}'
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: 'Restore dependency cache'
        id: cache-restore
        uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node${{ matrix.node }}-${{ hashFiles('**/package-lock.json') }}
      - name: 'Install dependencies'
        run: yarn install
      - name: 'Commit Lint'
        run: echo "$(git log -1 --pretty=format:"%s")" | yarn commitlint
